{% extends 'Base.html' %}

{% block titulo %}
Borrar Comida
{% endblock %}

{% block contenido_que_cambia %}

<section class="p-5">
    <div>
        <h5>Seguro que desea eliminar el producto?</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Borrar">
        </form>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{comida.image.url}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{comida.name}}</h5>
            <p class="card-text">Descripción: {{comida.description}}</p>
            <p class="card-text">Precio: {{comida.price}}</p>
        </div>
    </div>
</section>



{% endblock %}