{% extends 'Base.html' %}

{% block titulo %}
    Busqueda Comidas
{% endblock %}

{% block formulario_busqueda %}
    <form class="form-inline my-2 my-lg-0" action="/Comidas/search-comidas/" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
            name='search'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
{% endblock %}

{% block contenido_que_cambia %}
    <section class="d-flex flex-row justify-content-center">
        {% for comi in comida %}
        <div class="card" style="width: 18rem;">
            <img src="{{comi.image.url}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{comi.name}}</h5>
                <p class="card-text">Descripción: {{comi.description}}</p>
                <p class="card-text">Precio: {{comi.price}}</p>
                
                
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}