{% extends 'Base.html' %}

{% block titulo %}
    Comidas
{% endblock %}

{% block contenido_que_cambia %}
    {% if request.user.is_superuser %}
    <a href="/Comidas/crear-comidas/" class="btn btn-success">Agregar nuevo producto</a>
    {% endif %}
    {% for comida in comidas %}
    <div class="d-flex flex-row">
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
        <div class="card shadow">
                        <img src="https://okdiario.com/img/2021/12/09/hamburguesas-caseras-rellenas-de-queso-cheddar-655x368.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{comida.name}}</h5>
                    <p class="card-text">Descripción: {{comida.description}}</p>
                    <p class="card-text">Precio: {{comida.price}}</p>
                    <a href="/Cervezas/actualizar-cerveza/{{cerveza.id}}" class="btn btn-primary">Editar</a>
                    <a href="/Cervezas/borrar-cerveza{{cerveza.id}}/" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex flex-row"></div>

{% endblock %}


